//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 03 18:06:07 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "light<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "light<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "light<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "light<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "rst" LOCATE = SITE "C11" LEVEL 1;
COMP "b" LOCATE = SITE "G12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

